<div class="row justify-content-end">
    <div class="col-4">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">{{ session | decodeToken }}</li>
            <li class="list-group-item" (click)="logout()">logout</li>
        </ul>
    </div>
</div>