<div class="card" style="width: 18rem;" *ngIf="info">
    <div class="card-body">
        <h5 class="card-title">{{ info.title }}</h5>
        <h6>{{ info.author }}</h6>
        <p class="card-text">{{ info.content }}</p>
    </div>
</div>