<div class="mat-elevation-z8" [ngClass]="{ 'col-8': elementID }">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element" (click)="(elementID != element.id) ? displayContent(element.id) : ''" [ngClass]="{ 'coursor': (elementID != element.id) }"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator [length]="lengthPagination" showFirstLastButtons (page)="changePage($event)" [pageSize]="10" [pageSizeOptions]="[10]"></mat-paginator>
</div>

<div [ngClass]="{ 'col-3': elementID }">
    <table-content [id]="elementID" *ngIf="elementID"></table-content>
</div>