<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Login</h2>
            </div>
            <div class="col-12" *ngIf="errLogin">
                <div class="alert alert-danger" role="alert">
                    {{ errLogin }}
                </div>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="login()" class="row">
            <div class="col">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Usuario" formControlName="username" autocomplete="off" type="text" maxlength="50">
                    <mat-error *ngIf="username.hasError('required')">
                        The username field is <strong>required</strong>.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" formControlName="password" autocomplete="off" type="password">
                    <mat-error *ngIf="password.hasError('required')">
                        The password field is <strong>required</strong>.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <input type="submit" class="fadeIn fourth" value="Login" [disabled]="!form.valid">
            </div>
        </form>
    </div>
</div>