<menu></menu>

<div class="row justify-content-center">
    <div class="col-1">
        <h1>Articles</h1>
    </div>
    <div class="col-12">
        <table-articles></table-articles>
    </div>
</div>